<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Восстановление доступа</title>
    <!-- Используем тот же файл стилей -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}">
</head>
<body>
<div class="container">
    <div class="auth-card">
        <h2 class="section-title">Восстановление доступа</h2>

        <form th:action="@{/ott/generate}" method="post">
            <div class="settings-grid">
                <div class="setting-item">
                    <label for="username">Введите ваш Username:</label>
                    <input type="text"
                           id="username"
                           name="username"
                           placeholder="Ваш никнейм"
                           required>
                </div>
            </div>

            <div class="submit-section">
                <button type="submit" class="btn-publish">
                    Отправить ссылку в консоль
                </button>
                <p class="auth-footer">
                    Вспомнили пароль? <a th:href="@{/login}">Войти</a>
                </p>
            </div>
        </form>
    </div>
</div>
</body>
</html>