<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastebin</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
</head>
<body>
<nav class="navbar">
    <div class="nav-bar">
        <i class="bx bx-menu sidebarOpen"></i>
        <span class="logo navLogo"><a href="#">Pastebin</a></span>

        <div class="menu">
            <div class="logo-toggle">
                <span class="logo"><a href="#">Pastebin</a></span>
                <i class='bx bx-x siderbarClose'></i>
            </div>

            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Developer Portfolio</a></li>
                <li><a href="#">Git Hub</a></li>
            </ul>
        </div>

        <div class="darkLight">
            <div class="dark-light">
                <i class='bx bx-moon moon'></i>
                <i class='bx bx-sun sun'></i>
            </div>
        </div>
    </div>
</nav>

<script th:src="@{/js/home_script.js}"></script>
</body>
</html>